<html>
<head>
    {{>head}}
</head>

<body id="login">

<div class="center-wrapper">
  <div class="center">

    <h3>TMY BLOG</h3>

    <form class="form-inline" method="post">
      <input name="username" type="text"
             class="form-control" placeholder="邮箱">
      <input name="password" type="password"
             class="form-control" placeholder="密码">

      <a class="btn btn-success" class="login" onclick="loginJS()">登录</a>
    </form>

    <div class="operation">
      <a class="btn btn-link" href="/account/register">马上注册</a>
      <a class="btn btn-link" href="/account/forgot">忘记密码</a>
    </div>

    <div class="alert alert-danger" style="display:none;"></div>

  </div>
</div>
<script type="text/javascript">
  function loginJS(){
    $.post('', $('form').serialize())
      .done(function(res){
        alert(res);
      })
      .fail(function(res){
        $('.alert').hide();
        $('.alert-danger').html(res.responseText).show();
      });
  }
</script>
</body>
</html>
